<!-- CDN引入 -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
<script src="https://code.juejin.cn/api/raw/7508364280128307215?id=7508364280128356367"></script>
<!-- 本地文件引入 -->
<!-- <script src="../vue/vue.v2.7.16.js"></script> -->
<!-- 组件模版 -->
<template id="input-template-a">
  <input v-model="item.value" :placeholder="item.placeholder" />
</template>
<template id="input-template-b">
  <input v-model="item.value" :placeholder="item.placeholder" />
</template>
<!-- 组件JS代码 -->
<script>
  const InputComponentA = {
    name: "input-component-a",
    props: {
      item: {},
    },
    // 内联DOM模板
    template: "#input-template-a",
    data: function () {
      return {};
    },
  };
</script>
<script>
  const InputComponentB = {
    name: "input-component-b",
    props: {
      item: {},
    },
    // 内联DOM模板
    template: "#input-template-b",
    data: function () {
      return {};
    },
    mounted: function () {
      console.log("mounted input-component-b", this);
    },
  };
</script>
<div id="app">
  <input-component-a :item="itema"></input-component-a>
  <input-component-b :item="itemb"></input-component-b>
</div>

<script>
  var app = new Vue({
    el: "#app",
    components: { InputComponentA, InputComponentB },
    data: {
      itema: { placeholder: "aaa", value: "" },
      itemb: { placeholder: "bbb", value: "" },
    },
    mounted: function () {
      console.log("mounted", this);
      setTimeout(() => {
        console.log("mounted setTimeout");
        this.itema.value = 1;
      }, 3000);
    },
  });
</script>
